<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>    
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>Welcome to Dogmatic</h1>
            </div> 
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>
